@{
    ViewBag.Title = "Blog by Rahul Khadse";
    ViewBag.ActiveButton = "Archive";
}
<section>
    <header class="entry-header">
        <h1 class="entry-title">Archives</h1>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-hovered">
                <tbody>
                    <tr class="lrow lrow-1">
                        <td class="col-lg-8"><a class="showloading" href="/Archive/First_Blog_Post">First_Blog_Post</a></td>
                        <td class="col-lg-4">
                            <a href="#"><time class="entry-date" datetime="July 28, 2016">July 28, 2016</time></a>
                        </td>
                    </tr>
                    <tr class="lrow lrow-2">
                        <td class="col-lg-8"><a class="showloading" href="/Archive/Forming-Honeypots">Fo(a)rming Honeypots</a></td>
                        <td class="col-lg-4">
                            <a href="#"><time class="entry-date" datetime="August 16, 2016">August 16, 2016</time></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>