<article>
    <header class="entry-header">
        <h1 class="entry-title">First_Blog_Post</h1>
        <div class="entry-meta">
            <span class="post-category"><a href="javascript:;">Uncategorized</a></span>

            <span class="post-date"><a href="javascript:;"><time class="entry-date" datetime="2016-07-28 12:00">July 28, 2016</time></a></span>
            <span class="comments-link"><a id="comments" href="#disqus_thread">0 Comments</a></span>
            <span class="disqus-comment-count" data-disqus-url="/Archive/First_Blog_Post#disqus_thread"> <!-- Count will be inserted here --> </span>
        </div>
    </header>
    <div class="row clearfix">
        <div class="col-lg-12">
            <p>Yesterday an Engineering buddy and best friend shared a picture on facebook. It was a picture of robot we build and won several robot competition with it.</p>
            <p>It was a simple analog robot built using six motors (six. Ikr but it had reasons) and affixed on thick wooden board with wheels. Here&rsquo;s the picture</p>
            <p><img src="https://i.imgur.com/jeYO595.jpg" alt="My First Robot" width="720" height="540" /></p>
            <!--breakhere-->
            <p>And it got to me, like I would never recall what was going through my mind at that time. Whatever I did, my friend did got lost into Mumbai Vapours along with that picture. All we have are couple certificates, a broken outdated robot and a facebook post.</p>
            <p>
                That knowledge lost forever. I never shared with anybody. Not that world missed out some thing big or anything but I lost an opportunity to teach my subordinates, my younger brothers who look upto me when it comes to computer science or engineering in general. <br /><br />But then again, I didn&rsquo;t had to create blog for that. I have been writing facebook notes for years now and I could have just used that facebook notes. Facebook notes are improved substantially over last couple years. I could have created blog using blogpost or wordpress or medium or tumblur : and I would have been just fine. <br /><br />All of above options makes sense because they were easier to setup. But they had plethora of drawbacks : <br /><br />I could not have any customized things like my favorite little game below.<br />

                <br />
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <canvas id="gameCanvas" style="height:430px;" />
                    </div>
                </div><br>
                <br />Those websites are slow. With things I write , I am bound to have many HD images. If I made blog previously mentioned way, it would take million year to load a web page. Look at this webpage <span style="text-decoration: underline; color: #008080;"><a style="color: #008080; text-decoration: underline;" href="http://www.usatoday.com/story/tech/2015/08/04/comcast-upgrades-its-internet-essentials-plan/31091247/">http://www.usatoday.com/story/tech/2015/08/04/comcast-upgrades-its-internet-essentials-plan/31091247/</a></span>So slow. I wanted to avoid things like this using services like cloudinary and faster servers so I can load images faster on mobile by customizing dimensions of images based on client.
            </p>
            <p><strong><strong><br /><br /></strong></strong></p>
            <p>I wanted to remove all things which are bad for SEO. I used google pagespeed tool while developing this site pretty proud to get 100/100 score. Also I am HTML5 Nazi. I hate when websites push things on clients while not adhering to HTML5 validation rules laid out by W3C. <br /><br />I wanted to format web page the way I want. <br />If my blog takes off, I wanted to be proud of it. I didn&rsquo;t wanted any regrets.</p>
            <p>&nbsp;</p>
            <p>That being said, welcome to my blog. Enjoy me babbling and rambling about programming, politics, life, cooking etc. Give me a pat on back with your comments if I did good or Shut me up or slap me with opinion if you beg to differ. I will always appreciate constructive criticism. <br /><br />Thank you,</p>
            <p>Rahul Khadse</p>
            <p><br /><br /></p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                 */
                var disqus_config = function () {

                    this.page.identifier = '1'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    this.page.title = 'First_Blog_Post';
                };
                (function () {  // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//blograhulkhadsecom.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </div>
</article>
