@{
    ViewBag.Title = "Blog by Rahul Khadse";
    ViewBag.ActiveButton = "Home";
}

<article class="post post-1">
    <header class="entry-header">
        <h2 class="entry-title"><a class="showloading" href="/Archive/Forming-Honeypots">Fo(a)rming Honeypots</a></h2>
        <div class="entry-meta">
            <span class="post-category"><a href="#">Uncategorized</a></span>

            <span class="post-date"><a href="#"><time class="entry-date" datetime="2016-08-16 12:00">August 16, 2016</time></a></span>



            <span class="comments-link"><a href="/Archive/Forming-Honeypots#disqus_thread">0 Comments</a></span>
            <span class="disqus-comment-count" data-disqus-url="/Archive/Forming-Honeypots#disqus_thread"> <!-- Count will be inserted here --> </span>
        </div>
    </header>
    <div class="entry-content clearfix">
        <div class="row clearfix">
            <div class="col-lg-12">
                <p>When Internet gained traction in 1990, one thing made it super popular in commercial world. Forms!</p>
                <p>Yes forms was and still are integral part of web. But there is one problem, SPAMMERS</p>
                <br>
                <p>
                    Its really easy to fake form post, by scrpaing the HTML and recreate
                    form post to spam. This spam can be used to create bruteforce attack on
                    login /passwortd, ruin some politician's campaign database and even turn
                    your squeeze page traffic into garbage.
                </p>
                <p>But have no fear, internet already have solutions like Captcha, or enhanced Captcha with images.</p>
                <p>There's the problem with that :-</p>
                <ol type="i">
                    <li>People hate guesing twisty words on Captcha</li>
                    <li>
                        Sometimes audio captchas are too fast to listen. Image captcha
                        are too fast to listen. Image captcha are too hard to comprehend words/
                        letters/ sematics in it
                    </li>
                    <li>
                        They are really annoying, I mean why would you enter captcha on
                        Squeeze page so owner of website sends monthly spam on your email.
                    </li>
                </ol>
                <br>
                <!--breakhere-->
            </div>
        </div>
        <div class="read-more cl-effect-14">
            <a href="/Archive/Forming-Honeypots" class="showloading more-link">Continue reading <span class="meta-nav">→</span></a>
        </div>
    </div>
</article>
<article class="post post-2">
    <header class="entry-header">
        <h2 class="entry-title"><a class="showloading" href="/Archive/First_Blog_Post">First_Blog_Post</a></h2>
        <div class="entry-meta">
            <span class="post-category"><a href="#">Uncategorized</a></span>

            <span class="post-date"><a href="#"><time class="entry-date" datetime="2016-07-28 12:00">July 28, 2016</time></a></span>



            <span class="comments-link"><a href="/Archive/First_Blog_Post#disqus_thread">0 Comments</a></span>
            <span class="disqus-comment-count" data-disqus-url="/Archive/First_Blog_Post#disqus_thread"> <!-- Count will be inserted here --> </span>
        </div>
    </header>
    <div class="entry-content clearfix">
        <div class="row clearfix">
            <div class="col-lg-12">
                <p>
                    Yesterday an Engineering buddy and best friend
                    shared a picture on facebook. It was a picture of robot we build and won
                    several robot competition with it.
                </p>
                <p>
                    It was a simple analog robot built using six motors (six. Ikr but it
                    had reasons) and affixed on thick wooden board with wheels. Here’s the
                    picture
                </p>
                <p><img src="home_files/jeYO595.jpg" alt="My First Robot" height="540" width="720"></p>
                <!--breakhere-->
            </div>
        </div>
        <div class="read-more cl-effect-14">
            <a href="/Archive/First_Blog_Post" class="showloading more-link">Continue reading <span class="meta-nav">→</span></a>
        </div>
    </div>
</article>


<br>
