@{
    ViewBag.Title = "Blog by Rahul Khadse";
    ViewBag.ActiveButton = "Me";
}
@section Styles
  {
    <style type="text/css">
        .CattoBorderRadius {
            border-radius: 25px;
        }
    </style>
}  <!-- Header -->
<header>
    <div class="container">

    </div>
</header>
<br /><br />
<section id="me">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 center">
                <img class="img-responsive CattoBorderRadius" src="http://www.cs.kent.edu/~rkhadse/img/profilepic.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Rahul Khadse</h2>
                <span class="skills">Web Developer - Software Engineer </span>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h5 style="text-transform:none;">I am Rahul Khadse and I am a passionate programmer and software developer. I know several programming languages ranging from common languages like C, C++, C# to rare OpenMP and ClearSpeed.  I used to work for <a href="http://www.kent.edu/">Kent State University</a> and I am currently working as a software developer for <a href="http://realeflow.com/">Realeflow</a>. I have almost five years of solid experience in web development using C#, ASP.NET, HTML, CSS, JavaScript,jQuery and Ajax. This is my corner of Internet where I blog and babble about Programming. Thank you.  </h5>

            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h5>Contact Me</h5>
                <h5 style="text-transform:none;" class="text-center">
                    <i class="fa fa-envelope"></i>&nbsp;
                    <a href="mailto:rahul.a.khadse@gmail.com">rkhadse@kent.edu</a>&nbsp;&nbsp;<br /><br />
                    <i class="fa fa-phone"></i> &nbsp;(660) 429-9912&nbsp;&nbsp;
                </h5>
            </div>
        </div>
    </div>
</section>
